<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")  %>
  <body>
    <%- include("partials/nav")  %>
    <div class="container">
      <h1>Home Page</h1>
      <h2><%= 4 + 5 + 1 %> </h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos deleniti
          reprehenderit rerum, iste expedita velit minima provident, deserunt qui
          veniam ab libero ipsum dicta. Vitae numquam magnam harum obcaecati fugit.
      </p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos deleniti
          reprehenderit rerum, iste expedita velit minima provident, deserunt qui
          veniam ab libero ipsum dicta. Vitae numquam magnam harum obcaecati fugit.
      </p>
    </div>

  </body>
  <%- include("partials/footer")  %>
</html>
