<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")  %>
  <body class="d-flex flex-column min-vh-100">
    <%- include("partials/nav")  %>
    <div class="container">
      <h1>Welcome to a site with comments!</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos deleniti
          reprehenderit rerum, iste expedita velit minima provident, deserunt qui
          veniam ab libero ipsum dicta. Vitae numquam magnam harum obcaecati fugit.
      </p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos deleniti
          reprehenderit rerum, iste expedita velit minima provident, deserunt qui
          veniam ab libero ipsum dicta. Vitae numquam magnam harum obcaecati fugit.
      </p>
    </div>
    <%- include("partials/footer")  %>
  </body>
  
</html>
