li {
    padding-top: 10px;
}

#card{
    background-color: rgb(255, 242, 227);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 2px 2px 1px #e2e2e2;
}

#imgContainer{
    padding-top: 1em;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
}

#imgContainer > a {
    width: 33%;
    padding: .5em;
}

#imgContainer > a > img {
    border-radius: 15px;
}